.maincontainer{
    width: 100%;
    /* background-color: blue;
    border: 10px  solid  yellow; */
    padding: 10px;
    margin: 10px;
}
.activePannel {
    background-color: rgba(255, 255, 255, .075);
    border-left: 5px solid #3b7ddd;
}
.main-title {
    /* padding: 10%; */
    margin: 10px;
    /* background-color: red; */
}

.main-paragraph {
    /* padding: 10%; */
    margin: 10px;
    /* background-color: red; */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin: 5%; */
    padding: 15%;
    /* background-color: red; */
}